<%= link_to link_path, class: "tiles__link" do %>
  <%= content_tag :div, class: "tiles__tile tiles__tile-bordered #{color_base}" do %>
    <p class="accent-color tiles__heading"><%= heading %></p>
    <div>
      <p class="default-color">
        <%= bottom_text %>
      </p>
      <p>
        <%= link_to "Vstúpiť", link_path, class: "btn btn-success" %>
      </p>
    </div>
  <% end %>
<% end %>
