<%= turbo_stream_from "matches" %>
<%= turbo_stream_from "players_open_to_play" %>

<div id="today_index_reload_notice"></div>

<section class="today base-green">
  <div class="page__content">
    <div class="today__facade">
      <h1 class="today__heading accent-color">Topoľčianska tenisová<br>amatérska liga.</h1>
      <div class="today__brand">
        <a href="#recent-matches" class="today__brand__link">TOtal.</a>
      </div>

      <% if selected_season.present? %>
        <div class="today__main">
          <div class="today-navigation my-4">
            <div><a href="#recent-matches" class="default-color">Posledné zápasy</a></div>
            <div><a href="#planned-matches" class="default-color">Zápasy na pláne</a></div>
            <div><a href="#race" class="default-color">Nominácie PLAY OFF</a></div>
          </div>

          <div class="today__content">
            <!-- Requested matches -->
            <% if @requested_matches.any? || @rejected_matches.any? %>
              <div class="unconfirmed-matches">
                <h3 class="accent-color">Nepotvrdené výzvy</h3>
                <% @requested_matches.each do |match| %>
                  <div class="today__request-link">
                    <%= link_to "#{match.side 1} vyzval/a #{match.side 2}",
                                match_path(match),
                                class: "default-color #{'u-red-bg' if policy(match).accept? || policy(match).destroy?}" %>
                  </div>
                <% end %>

                <div class="mt-3">
                  <% @rejected_matches.each do |match| %>
                    <div class="today__request-link">
                      <%= link_to "#{match.side 2} odmietol/la zápas s #{match.side 1}",
                                  match_path(match),
                                  class: "u-silver" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

            <!-- Players open to play -->
            <div id="players_open_to_play_top">
              <%= render partial: "shared/players_open_to_play",
                         locals: { players: @players_open_to_play } %>
            </div>
          </div>
        </div>
      <% else %>
        <h3 class="today__no-season default-color">Nie je sezóna.<br>Všetci netrpezlivo čakáme.</h3>
      <% end %>
    </div>

    <!-- Upcoming tournaments -->
    <% if selected_season.present? && @upcoming_tournaments.any? %>
      <div class="today__tournaments">
        <h3 class="accent-color today__tournaments__heading">Turnaje teraz</h3>
        <div class="today__tournaments__tiles">
          <% @upcoming_tournaments.each do |tournament| %>
            <%= render partial: "today/tournament", locals: { tournament: tournament } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>


<% if selected_season.present? %>
  <section id="recent-matches" class="today-recent base-yellow">
    <div class="page__content">
      <h3 class="base-heading accent-color">Čo sa najnovšie odohralo?</h3>

      <% if @recent_matches.any? %>
        <table class="centered-table">
          <thead>
          <tr class="text-center centered-table__heading-row">
            <th>Víťaz</th>
            <th></th>
            <th>Porazený</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @recent_matches.each do |match| %>
            <tr class="text-center">
              <td><%= break_whitespace(match.winner) %></td>
              <td class="centered-table__increased centered-table__bordered">
                <%= link_to break_whitespace(match.result(side: match.winner_side).gsub(", ", " ")), match_path(match),
                            class: "default-color" %>
              </td>
              <td><%= break_whitespace(match.looser) %></td>
              <td><%= app_date(match.date) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <p class="text-center my-4">
          <%= link_to "Všetky zápasy", matches_path, class: "default-color" %>
        </p>
      <% else %>
        <p class="py-8 text-center default-color">Žiadne zápasy sa v poslednej dobe nehrali.</p>
        <p class="py-2 text-center">
          <%= link_to "Zavolaj niekoho hrať!", rankings_path, class: "btn btn-success btn-lg" %>
        </p>
      <% end %>
      <div class="today-navigation">
        <div><a href="#navbar" class="default-color">Hore</a></div>
        <div><a href="#planned-matches" class="default-color">Zápasy na pláne</a></div>
        <div><a href="#race" class="default-color">Nominácie PLAY OFF</a></div>
      </div>
    </div>
  </section>


  <section id="planned-matches" class="today-planned base-salmon">
    <div class="page__content">
      <h3 class="text-end base-heading accent-color">Zápasy, ktoré uvidíme.</h3>

      <% if @planned_matches.any? %>
        <table class="centered-table">
          <thead>
          <tr class="centered-table__heading-row">
            <th class="text-center">Vyzývateľ</th>
            <th class="text-center">Vyzvaný</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @planned_matches.each do |match| %>
            <tr>
              <td class="text-center"><%= break_whitespace(match.side 1) %></td>
              <td class="text-center"><%= break_whitespace(match.side 2) %></td>
              <td class="centered-table__bordered text-center">
                <% if match.date.present? %>
                  <%= link_to match_path(match), class: "default-color" do %>
                    <%= app_date(match.date) %>
                    <% if match.play_time.present? %>
                      <br><%= match.play_time %>
                    <% end %>
                    <% if match.place %>
                      <br><%= match.place.name %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to "(plánuje sa)", match_path(match), class: "default-color" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <p class="text-center my-4">
          <%= link_to "Všetky zápasy", matches_path, class: "default-color" %>
        </p>

      <% else %>
        <p class="py-8 text-center">Nikto neplánuje hrať zápas.</p>
        <p class="py-2 text-center">
          <a href="#" class="btn btn-success btn-lg">
            <%= link_to "Vyzvi niekoho!", rankings_path, class: "btn btn-success btn-lg" %>
          </a>
        </p>
      <% end %>

      <div id="players_open_to_play" class="text-center">
        <%= render partial: "shared/players_open_to_play",
                   locals: { players: @players_open_to_play } %>
      </div>

      <div class="today-navigation my-2">
        <div><a href="#navbar" class="default-color">Hore</a></div>
        <div><a href="#recent-matches" class="default-color">Posledné zápasy</a></div>
        <div><a href="#race" class="default-color">Nominácie PLAY OFF</a></div>
      </div>
    </div>
  </section>


  <section id="race" class="today-race base-red">
    <div class="page__content">
      <h3 class="base-heading accent-color">Najväčší králi.</h3>

      <% if @top_rankings.any? %>
        <table class="centered-table default-color">
          <thead>
          <tr class="centered-table__heading-row">
            <th class="text-center"></th>
            <th></th>
            <th>Body</th>
            <th>% výhier</th>
          </tr>
          </thead>
          <tbody>
          <% @top_rankings.each.with_index(1) do |ranking, position| %>
            <% color_class = position <= selected_season.play_off_size.to_i ? "default-color" : "u-grey" %>
            <tr>
              <%= content_tag :td, class: "text-center #{color_class}" do %>
                <%= "#{position}." %>
              <% end %>
              <%= content_tag :td do %>
                <%= link_to ranking[:name], player_path(ranking[:id]), class: color_class %>
              <% end %>
              <%= content_tag :td, class: color_class do %>
                <%= ranking[:points] %>
              <% end %>
              <%= content_tag :td, class: color_class do %>
                <%= "#{(ranking[:percentage] / 100.0).round(2)}%" %>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>

        <p class="mt-4 text-center default-color">
          Králi s bielou farbou sú aktuálne nominovaní na PLAY OFF.
          <br>
          <span class="u-grey">
            Tí šedí, to sú princovia, majú najväčšiu šancu sa do PLAY OFF dostať.
          </span>
        </p>

        <p class="text-center my-4">
          <%= link_to "Celý rebríček", rankings_path, class: "default-color" %>
        </p>
      <% else %>
        <p class="py-8 text-center default-color">V rebríčku nie je nikto.</p>
      <% end %>

      <div class="today-navigation my-2">
        <div><a href="#navbar" class="default-color">Hore</a></div>
        <div><a href="#recent-matches" class="default-color">Posledné zápasy</a></div>
        <div><a href="#planned-matches" class="default-color">Zápasy na pláne</a></div>
      </div>
    </div>
  </section>
<% end %>
