<section class="base-red">
  <div class="page__content">
    <h3 class="base-heading accent-color">Priebežné poradie.</h3>

    <% if selected_season.present? %>
      <% if @rankings.any? %>
        <div class="table-container default-color">
          <table class="centered-table default-color">
            <thead>
            <tr class="centered-table__heading-row">
              <th class="text-center"></th>
              <th></th>
              <th>Body</th>
              <th class="text-end">% výhier</th>
            </tr>
            </thead>
            <tbody>
            <% @rankings.each.with_index(1) do |ranking, position| %>
              <% color_class = position <= selected_season.play_off_size.to_i ? "default-color" : "u-grey" %>
              <tr>
                <%= content_tag :td, class: "text-center #{color_class}" do %>
                  <%= "#{position}." %>
                <% end %>
                <%= content_tag :td do %>
                  <%= link_to ranking[:name], player_path(ranking[:id]), class: color_class %>
                <% end %>
                <%= content_tag :td, class: color_class do %>
                  <%= ranking[:points] %>
                <% end %>
                <%= content_tag :td, class: "#{color_class} text-end" do %>
                  <%= "#{(ranking[:percentage]).round(2)}% / #{ranking[:nr_matches]}" if ranking[:nr_matches] > 0 %>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <p class="mt-4 text-center default-color">
          Prvých <%= selected_season.play_off_size %> hráčov je nominovaných na PLAY OFF.
        </p>
      <% else %>
        <p class="py-8 text-center default-color">V rebríčku nie je nikto.</p>
      <% end %>
    <% else %>
      <p class="py-8 text-center default-color">V rebríčku nie je nikto, pretože nie je sezóna.</p>
    <% end %>
  </div>
</section>
