<section id="race" class="base-red min-h-screen p-8">
  <% if @rankings.any? %>
    <h2 class="text-5xl p-1 primary-color">Priebežné poradie.</h2>
    <div class="table-container default-color">
      <table>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Body</th>
          <th>% výhier</th>
        </tr>
        </thead>
        <tbody>
        <% @rankings.each.with_index(1) do |ranking, position| %>
          <tr class="<%= ranking_row_css(selected_season, position) %>">
            <td class="<%= 'border-yellow-400 border-solid border-t-4' if position > 1 %>">
              <%= "#{position}." %>
            </td>
            <td><%= link_to ranking[:name], player_path(ranking[:id]), class: "underline" %></td>
            <td><%= ranking[:points] %></td>
            <td><%= "#{(ranking[:percentage] / 100.0).round(2)}%" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <p class="p-2 text-center default-color lg:pt-4">
      Prvých <%= selected_season.play_off_size %> hráčov je nominovaných na PLAY OFF.
    </p>
  <% else %>
    <p class="p-8 text-center default-color">Nie sú prihlásení žiadni hráči.</p>
    <% if true # manager_signed_in? %>
      <p class="p-2 text-center">
        <a href="#" class="button button-red">
          Administrácia
        </a>
      </p>
    <% end %>
  <% end %>
</section>
