<div class="flex justify-center py-8">
  <div class="w-full max-w-sm">
    <%= form_for resource, as: resource_name, url: session_path(resource_name),
                 html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" },
                 data: { turbo: false } do |f| %>

      <div class="mb-4">
        <%= f.label :email, "Email", class: "block mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" %>
        <%= error_for(:email, resource) %>
      </div>
      <div class="mb-4">
        <%= f.label :password, "Heslo", class: "block mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
        <%= error_for(:password, resource) %>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Zapamätaj si ma" %>
          </div>
        <% end %>

      </div>
      <p class="text-sm text-center py-6">
        S cookies súhlasíš, to je jasné. Ak nie, tak vodprejsk!
        <%= f.submit "Jop!", class: "underline" %>
      </p>
      <div class="text-center">
        <%= f.submit "Prihlásiť", class: "button button-blue" %>
        <hr>
        <%= render "player/shared/links" %>
      </div>
    <% end %>

    <%= render "player/shared/devise_footer" %>
  </div>
</div>
