<section class="page-header <%= @tournament.color_base_css %>">
  <div></div>
  <div class="page-header__heading accent-color">
    <h2>
      <%= @tournament.name %>
    </h2>
  </div>
  <p class="page-header__text default-color">
    <%= app_date @tournament.begin_date %>
    <% if @tournament.end_date > @tournament.begin_date %>
      -
      <%= app_date @tournament.end_date %>
    <% end %>
  </p>
</section>

<div class="page__content">
  <div class="page-controls">
    <div class="page-controls__breadcrumbs">
      <%= link_to "Domov", root_path, target: :_top %>
      /
      <%= link_to "Turnaje", tournaments_path, target: :_top %>
    </div>

    <div class="page-controls__buttons">
      <%= link_to "Zápasy", "#matches", class: "btn btn-success" %>
      <%= link_to "Pavúk", "#draw", class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>
        <% @tournament.main_info.split("\n").each do |line| %>
          <%= line %><br>
        <% end %>
      </p>
    </div>
    <div class="col-md-9">
      <% if @tournament.side_info.present? %>
        <p class="ps-2 border-start">
          <% @tournament.side_info.split("\n").each do |line| %>
            <%= line %><br>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="<%= @tournament.color_base_css %>">
  <div class="page__content">
    <h3 id="matches" class="base-heading accent-color">Zápasy turnaja</h3>

    <% if @planned_matches.first %>
      <p class="u-fs-big text-center default-color">
        Plánované
      </p>
      <table class="centered-table">
        <tbody>
        <% @planned_matches.each do |match| %>
          <tr class="text-center">
            <td class="centered-table__large default-color"><%= match_player_link(match, side: 1, options: { class: "u-no-decoration" }, break_whitespace: true) %></td>
            <td class="centered-table__large default-color"><%= match_player_link(match, side: 2, options: { class: "u-no-decoration" }, break_whitespace: true) %></td>
            <td>
              <% if match.date.present? %>
                <%= link_to match_path(match), class: "default-color" do %>
                  <%= app_date(match.date, prefix: true, vertical: true) %>
                  <% if match.play_time.present? %>
                    <br><%= match.play_time %>
                  <% end %>
                  <% if match.place %>
                    <br><%= match.place.name %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to "(plánuje sa)", match_path(match), class: "default-color" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="text-center">
              <%= render partial: "shared/reactions_buttons",
                         locals: {
                           reactionable: match,
                           toggle_reaction_path: toggle_reaction_player_match_path(match),
                           object_path: match_path(match, anchor: "comments")
                         } %>
            </td>
          </tr>
          <% if MatchPolicy.new(current_player, match).switch_prediction? %>
            <tr>
              <td></td>
              <td></td>
              <td class="text-center">
                <%= render partial: "matches/predictions_link", locals: { match: match, current_player: current_player } %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="py-8 text-center default-color">Žiadne plánované zápasy.</p>
    <% end %>

    <% if @finished_matches.first %>
      <hr>
      <p class="u-fs-big text-center default-color">
        Odohraté
      </p>
      <table class="centered-table">
        <thead>
        <tr class="text-center centered-table__heading-row">
          <th class="default-color">Víťaz</th>
          <th></th>
          <th class="default-color">Porazený</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @finished_matches.each do |match| %>
          <tr class="text-center">
            <td class="centered-table__large default-color"><%= match_winner_link(match, break_whitespace: true, options: { class: "u-no-decoration" }) %></td>
            <td class="centered-table__increased centered-table__bordered">
              <%= link_to break_whitespace(match.result(side: match.winner_side).gsub(", ", " ")), match_path(match),
                          class: "default-color" %>
            </td>
            <td class="centered-table__large default-color"><%= match_looser_link(match, break_whitespace: true, options: { class: "u-no-decoration" }) %></td>
            <td class="default-color"><%= app_date(match.date, prefix: true, vertical: true) %></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-center">
              <%= render partial: "shared/reactions_buttons",
                         locals: {
                           reactionable: match,
                           toggle_reaction_path: toggle_reaction_player_match_path(match),
                           object_path: match_path(match, anchor: "comments")
                         } %>
            </td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="py-8 text-center default-color">Žiadne odohraté zápasy.</p>
    <% end %>

    <h3 id="draw" class="base-heading accent-color">Pavúk</h3>
    <% if @tournament.draw_url.present? %>
      <div class="overflow-image">
        <%= image_tag @tournament.draw_url, width: 960 %>
      </div>
    <% else %>
      <p class="py-8 text-center default-color">Nie je zverejnený.</p>
    <% end %>
  </div>
</div>
