<section class="header <%= @tournament.color_base_css %>">
  <div class="dominant-heading-wrapper">
    <h1 class="dominant-heading primary-color">
      <%= @tournament.name %>
    </h1>
  </div>
  <p class="secondary-text default-color">
    <%= app_date @tournament.begin_date %>
    <% if @tournament.end_date > @tournament.begin_date %>
      -
      <%= app_date @tournament.end_date %>
    <% end %>
  </p>
</section>

<section class="context-buttons">
  <div>
    <%= link_to "Domov", root_path, class: "underline", target: :_top %>
    /
    <%= link_to "Turnaje", tournaments_path, class: "underline", target: :_top %>
  </div>
  <div>
    <%= link_to "Pavúk", "#", class: "button button-blue" %>
    <%= link_to "Rozvrh", "#", class: "button button-blue" %>
  </div>
</section>


<section class="page-content">
  <div class="md:flex md:flex-row p-2 md:px-4">
    <p class="md:flex-shrink w-full md:w-1/3 pt-4">
      <% @tournament.main_info.split("\n").each do |line| %>
        <%= line %><br>
      <% end %>
    </p>
    <% if @tournament.side_info.present? %>
      <p class="md:flex-grow pt-4">
        <% @tournament.side_info.split("\n").each do |line| %>
          <%= line %><br>
        <% end %>
      </p>
    <% end %>
  </div>
</section>
