<section class="page-header <%= @tournament.color_base_css %>">
  <div></div>
  <div class="page-header__heading accent-color">
    <h2>
      <%= @tournament.name %>
    </h2>
  </div>
  <p class="page-header__text default-color">
    <%= app_date @tournament.begin_date %>
    <% if @tournament.end_date > @tournament.begin_date %>
      -
      <%= app_date @tournament.end_date %>
    <% end %>
  </p>
</section>

<div class="page__content">
  <div class="page-controls">
    <div class="page-controls__breadcrumbs">
      <%= link_to "Domov", root_path, target: :_top %>
      /
      <%= link_to "Turnaje", tournaments_path, target: :_top %>
    </div>

    <div class="page-controls__buttons">
      <%= link_to "Pavúk", "#", class: "btn btn-success" %>
      <%= link_to "Rozvrh", "#", class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>
        <% @tournament.main_info.split("\n").each do |line| %>
          <%= line %><br>
        <% end %>
      </p>
    </div>
    <div class="col-md-9">
      <% if @tournament.side_info.present? %>
        <p class="ps-2 border-start">
          <% @tournament.side_info.split("\n").each do |line| %>
            <%= line %><br>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
