<% # icons from https://www.flaticon.com %>

<div class="d-inline-block" id='<%= "tiny_#{reactionable.class.to_s.downcase}_#{reactionable.id}_tiny_reactions" %>'>
  <div class="reactions">
    <% if current_player.present? %>
      <% r_icon = reactionable.reactions.find { |r| r.player_id == current_player.id }.present? ? "liked.png" : "like.png" %>
      <% c_icon = reactionable.comments.find { |c| c.player_id == current_player.id }.present? ? "commented.png" : "comment.png" %>
      <div class="reactions__col">
        <%= link_to toggle_reaction_player_match_path(reactionable), method: :post, class: "reactions__col reactions__link" do %>
          <%= image_tag(r_icon, class: "reactions__icon-tiny") %>
        <% end %>
        <% if reactionable.reactions_count > 0 %>
          <div class="u-white" data-controller="reactions" data-reactions-target="reactionsCount" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= reactionable.reacted_player_names(max_count: 5) %>">
            <%= reactionable.reactions_count %>
          </div>
        <% else %>
          <div class="u-white">
            <%= reactionable.reactions_count %>
          </div>
        <% end %>
      </div>
      <%= link_to match_path(reactionable, anchor: "comments"), class: "reactions__col reactions__link" do %>
        <%= image_tag(c_icon, class: "reactions__icon-tiny") %>
        <div class="u-white"><%= reactionable.comments_count %></div>
      <% end %>
    <% else %>
      <div class="reactions__col">
        <%= image_tag("like.png", class: "reactions__icon-tiny") %>
        <div class="u-white"><%= reactionable.reactions_count %></div>
      </div>
      <%= link_to match_path(reactionable, anchor: "comments"), class: "reactions__col reactions__link" do %>
        <%= image_tag("comment.png", class: "reactions__icon-tiny") %>
        <div class="u-white"><%= reactionable.comments_count %></div>
      <% end %>
    <% end %>
  </div>
</div>
