<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md">
    <div class="comment" id="comment_<%= comment.id %>">
      <div>
        <span class="badge bg-danger"><%= comment.position %></span>
      </div>
      <div>
        <%= app_time(comment.created_at) %>
        <% if comment.deleted_at.blank? %>
          <p>
            <small>
              <%= comment.player.name %>
              <% if comment.motive_id.blank? %>
                napísal<small>/a</small>:
              <% else %>
                <span class="text-danger">odpovedal/a na</span>
                <a href="#comment_<%= comment.motive_id %>" data-turbo="false">
                  <span class="badge bg-danger"><%= comment.motive.position %></span>
                </a>
              <% end %>
            </small>
          </p>
          <p class="fst-italic">
            <%= simple_format comment.content %>
          </p>
        <% else %>
          <p class="fst-italic">(niekto zmazal svoj komentár)</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
