<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= link_to "Manažment", manager_root_path, class: "navbar-brand navigation__brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Zápasy", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Turnaje", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Novinky", "#", class: "nav-link" %>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_manager.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "Zatvoriť manažment", root_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Odhlásiť sa", destroy_manager_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
