<%= turbo_frame_tag "match_#{@match.id}" do %>
  <%= render partial: "matches/header", locals: { match: @match } %>

  <div class="page__content">
    <%= form_with model: [:player, @match] do |f| %>
      <div class="row">
        <div class="col-7" data-controller="forms">
          <%= f.label :play_date, "Dátum", class: "form-label" %>
          <%= content_tag :span, class: "text-decoration-underline px-1 bg-warning", role: "button", data: { "action" => "click->forms#clearField", "target-id" => "match_play_date" } do %>
            zrušiť dátum
          <% end %>
          <%= f.date_field :play_date, class: "form-control" %>
        </div>
        <div class="col-5">
          <%= f.label :play_time, "Čas", class: "form-label" %>
          <%= f.select :play_time,
                       Match.play_times.keys.map { |pt| [pt, pt] },
                       { include_blank: "Žiadny" },
                       class: "form-control" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :place_id, "Miesto", class: "form-label" %>
          <%= f.select :place_id,
                       Place.all.map { |p| [p.name, p.id] },
                       { include_blank: "Žiadne" },
                       class: "form-control" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :notes, "Poznámka", class: "form-label" %>
          <%= f.text_area :notes, rows: 4, class: "form-control" %>
        </div>
      </div>

      <!-- TODO: later use red border around input fields instead of this -->
      <% if @match.errors.any? %>
        <p class="mt-4">
          Zápas sa nedá uložiť pre nasledovné:
          <%= "#{@match.errors.messages.values.flatten.join(' ')}" %>
        </p>
      <% end %>

      <p class="text-end mt-4">
        <%= link_to "Zrušiť", match_path(@match), class: "btn btn-light" %>
        <%= f.submit "Potvrdiť", class: "btn btn-success" %>
      </p>
    <% end %>
  </div>
<% end %>
