<%= turbo_frame_tag "match_#{@match.id}" do %>
  <%= render partial: "matches/header", locals: { match: @match } %>

  <div class="flex justify-center py-8">
    <%= form_with url: finish_player_match_path(@match), class: "w-full p-2" do |f| %>
      <h3 class="text-2xl text-center">
        Výsledok zápasu
      </h3>
      <div class="grid grid-cols-1 gap-2">
        <p class="text-center text-3xl p-2" id="score-preview" style="min-height: 54px;">

        </p>
        <div class="w-full">
          <%= f.label :score, "Skóre", class: "block tracking-wide mb-2" %>
          <%= f.text_field :score,
                           value: "",
                           placeholder: "6 3 6 4",
                           autocomplete: "off",
                           id: "score-input",
                           class: "appearance-none block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none" %>
          <p class="text-sm pb-2">
            Skóre zadaj zo svojho pohľadu ako po sebe idúce čísla oddelené medzerou, napr.
            <code class="border whitespace-nowrap">6 4 6 1</code> ak si vyhral, alebo
            <code class="border whitespace-nowrap">2 6 6 7</code> ak si prehral.
          </p>
        </div>
        <div class="w-full">
          <%= f.label :retired_player_id, "Skrečoval niekto?", class: "block tracking-wide mb-2" %>
          <%= f.select :retired_player_id, @match.players.map { |p| [p.name, p.id] }, { include_blank: "Nie" }, class: "block appearance-none w-full border border-gray-200 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-gray-500" %>
        </div>
        <div class="w-full">
          <%= f.label :play_date, "Dátum", class: "block tracking-wide mb-2" %>
          <%= f.date_field :play_date,
                           value: @match.play_date,
                           class: "appearance-none block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none" %>
        </div>
        <div class="w-full">
          <%= f.label :place_id, "Miesto", class: "block tracking-wide mb-2" %>
          <%= f.select :place_id, Place.all.map { |p| [p.name, p.id] }, { selected: @match.place_id, include_blank: "Žiadne" }, class: "block appearance-none w-full border border-gray-200 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-gray-500" %>
        </div>
        <div class="w-full">
          <%= f.label :notes, "Poznámka", class: "block tracking-wide mb-2" %>
          <%= f.text_area :notes, value: @match.notes, rows: 2, class: "appearance-none block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none" %>
        </div>
      </div>

      <div class="flex justify-end">
        <%= link_to "Zrušiť", match_path(@match), class: "button" %>
        <%= f.submit "Potvrdiť", class: "button button-blue" %>
      </div>
    <% end %>
  </div>

  <script>
    document.getElementById("score-input").addEventListener("keyup", function(e) {
      let scoreValue = e.target.value.trim().split(/\s+/);
      let scorePreviewValue = "";

      scoreValue.forEach((e, idx) => {
        if ((idx % 2) === 1) {
          scorePreviewValue += (":" + e)
        } else if (idx === 0) {
          scorePreviewValue += e
        } else {
          scorePreviewValue += (", " + e)
        }
      });

      document.getElementById("score-preview").textContent = scorePreviewValue;
      // if ((scoreValue.length % 2) === 1) {
      //   submitButton.disabled = true;
      //   submitButton.classList.add("opacity-50");
      // } else {
      //   submitButton.disabled = false;
      //   submitButton.classList.remove("opacity-50");
      // }
    });
  </script>
<% end %>
