<%= turbo_frame_tag "match_#{@match.id}" do %>
  <%= render partial: "matches/header", locals: { match: @match } %>

  <div class="page__content">
    <%= form_with url: finish_player_match_path(@match),
                  id: "finish-form",
                  data: { controller: "matches", "matches-target" => "finishForm" } do |f| %>

      <h3 class="text-center">
        Výsledok zápasu
      </h3>
      <p class="text-center u-fs-dominant" id="score-preview" style="min-height: 64px;">

      </p>

      <div class="row">
        <div class="col-md-5">
          <%= f.label :score, "Skóre", class: "form-label" %>
          <%= f.text_field :score,
                           value: "",
                           placeholder: "6 3 6 4",
                           autocomplete: "off",
                           pattern: "[0-9\s]*",
                           inputmode: "numeric",
                           id: "score-input",
                           class: "form-control",
                           data: { action: "keyup->matches#score_typing" } %>
          <%= error_for(:score, @match) %>
          <div class="pb-2">
            <small>
              Skóre zadaj zo svojho pohľadu ako po sebe idúce čísla oddelené medzerou, napr.
              <code class="border whitespace-nowrap">6 4 6 1</code> ak si vyhral, alebo
              <code class="border whitespace-nowrap">2 6 3 6</code> ak si prehral.
            </small>
          </div>
        </div>
        <div class="col-md-7">
          <%= f.label :retired_player_id, "Skrečoval niekto?", class: "form-label" %>
          <%= f.select :retired_player_id,
                       @match.players.map { |p| [p.name, p.id] },
                       { include_blank: "Nie" },
                       class: "form-control" %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-7 col-lg-3">
          <%= f.label :play_date, "Dátum", class: "form-label" %>
          <%= f.date_field :play_date,
                           value: @match.play_date,
                           class: "form-control" %>
        </div>
        <div class="col-md-5 col-lg-2">
          <%= f.label :place_id, "Miesto", class: "form-label" %>
          <%= f.select :place_id,
                       Place.all.map { |p| [p.name, p.id] },
                       { selected: @match.place_id, include_blank: "Žiadne" },
                       class: "form-control" %>
        </div>
        <div class="col-lg-7">
          <%= f.label :notes, "Poznámka", class: "form-label" %>
          <%= f.text_area :notes,
                          value: @match.notes,
                          rows: 4,
                          class: "form-control" %>
        </div>
      </div>

      <p class="text-end mt-4">
        <%= link_to "Zrušiť", match_path(@match), class: "btn btn-light" %>
        <%= f.submit "Potvrdiť", class: "btn btn-success" %>
      </p>
    <% end %>
  </div>
<% end %>
