<section class="header base-green">
  <div class="dominant-heading-wrapper">
    <h1 class="dominant-heading primary-color">
      <%= player.name %>
    </h1>
  </div>
  <div class="secondary-text default-color">
    <p><%= player.phone_nr %></p>
    <p><%= player.email %></p>
    <p>Nar. <%= player.birth_year.presence || '-' %></p>
  </div>
</section>


<section class="context-buttons">
  <div class="breadcrumbs">
    <%= link_to "Domov", root_path, class: "underline", target: :_top %>
    /
    <%= link_to "Rebríček", rankings_path, class: "underline", target: :_top %>
  </div>
  <% if player_signed_in? %>
    <% if match_request_possible(current_player, requested_player: player, season: selected_season) %>
      <div>
        <%= link_to "Vyzvať hráča",
                    player_matches_path(player_id: player.id),
                    method: :post,
                    class: "button button-red",
                    data: { confirm: "Potvrď, že naozaj chceš vyzvať #{player.name}" } %>
      </div>
    <% end %>
  <% end %>
</section>


<section class="page-content">
  <% if selected_season.present? %>
    <% unless selected_season.enrollments.active.where(player: player).exists? %>
      <p class="text-center">
        Hráč<span class="text-sm">/ka</span> nie je zapísaný<span class="text-sm">/á</span>
        do sezóny <%= selected_season.name %>.
      </p>
    <% end %>

    <% if player_signed_in? && current_player.opponents(season: selected_season, pending: true).include?(player) %>
      <p class="text-center">
        S týmto hráčom<span class="text-sm">/kou</span> ťa čaká zápas.
      </p>
    <% end %>
  <% end %>

  <% if selected_season && @all_matches.any? %>
    <div class="text-center md:text-2xl">
      <% won_count = @won_matches.size %>
      <% all_count = @all_matches.size %>
      <p>
        Vyhraté zápasy / všetky zápasy<br>
        <span class="<%= text_success_css(won_count, all_count) %>">
          <%= won_count %> / <%= all_count %>
        </span>
      </p>

      <div class="text-sm md:text-xl">
        <% @all_matches.each do |match| %>
          <% side = match.assignments.find { |a| a.player_id == player.id }.side %>
          <% other_side = (side == 1) ? 2 : 1 %>
          <% if side == match.winner_side %>
            <p>
              <%= app_date(match.finished_at) %>
              Výhra s
              <%= match.side(other_side) %>
              <span class="text-green-500 text-xl"><%= match.result(side: side) %></span>
              <% if match.retired? %>
                (skreč)
              <% end %>
            </p>
          <% else %>
            <p>
              <%= app_date(match.finished_at) %>
              Prehra s
              <%= match.side(other_side) %>
              <span class="text-red-500 text-base"><%= match.result(side: side) %></span>
              <% if match.retired? %>
                (skreč)
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>Žiadne odohraté zápasy v sezóne <%= selected_season.name %>.</p>
  <% end %>


</section>
