<section id="match-header" class="page-header <%= match_color_base(match) %>">
  <div></div>
  <div class="page-header__heading accent-color">
    <h2>
      <%= match_player_link(match, side: 1, options: { class: "accent-color u-no-decoration" }) %>
    </h2>
    <p>vs</p>
    <h2>
      <%= match_player_link(match, side: 2, options: { class: "accent-color u-no-decoration" }) %>
    </h2>
  </div>
  <p class="page-header__text default-color">
    <% if match.date %>
      <%= app_date match.date, prefix: true %>
      <%= match.play_time %>
      <%= match.place&.name %>
    <% end %>
  </p>
</section>
