<%= render partial: "matches/header", locals: { match: match } %>

<div class="page__content">
  <div class="page-controls">
    <div class="page-controls__breadcrumbs">
      <%= link_to "Domov", root_path, target: :_top %>
      /
      <%= link_to "Zápasy", matches_path, target: :_top %>
    </div>
    <% if current_player %>
      <div class="page-controls__buttons">
        <% if match.requested? %>
          <div>
            <% if MatchPolicy.new(current_player, match).accept? %>
              <%= link_to "Odmietnuť",
                          reject_player_match_path(match),
                          method: :post,
                          class: "btn btn-warning",
                          data: { confirm: "Chceš naozaj odmietnuť túto výzvu?" } %>
              <%= link_to "Prijať",
                          accept_player_match_path(match),
                          method: :post,
                          class: "btn btn-success" %>
            <% elsif MatchPolicy.new(current_player, match).destroy? %>
              <%= link_to "Zmazať",
                          player_match_path(match),
                          method: :delete,
                          class: "btn btn-warning",
                          data: { confirm: "Chceš naozaj zmazať túto výzvu?", turbo: false } %>
            <% end %>
          </div>
        <% else %>
          <div>
            <% if MatchPolicy.new(current_player, match).edit? %>
              <%= link_to "Upraviť", edit_player_match_path(match),
                          class: "btn btn-warning" %>
            <% end %>
            <% if MatchPolicy.new(current_player, match).finish? %>
              <%= link_to "Výsledok", finish_init_player_match_path(match),
                          class: "btn btn-danger" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <% if match.reviewed? %>
    <p class="u-fs-giant py-4 text-center"><%= match.result %></p>
    <% if match.retired? %>
      <p class="text-center">
        <%= match.looser %> zápas skrečoval<small>/a</small>.
      </p>
    <% end %>
  <% elsif match.requested? %>
    <p class="text-center">
      Na túto výzvu <%= match.side(2) %> zatiaľ nereagoval<small>/a</small>.
    </p>
  <% elsif match.accepted_at %>
    <p class="text-center">
      <%= match.side(2) %> akceptoval<small>/a</small> výzvu <%= app_date_span match.accepted_at %>
    </p>
  <% elsif match.rejected_at %>
    <p class="text-center">
      <%= match.side(2) %> odmietol<small>/la</small> túto výzvu <%= app_date_span match.rejected_at %>
    </p>
  <% end %>

  <%# if MatchPolicy.new(current_player, match).update? %>
<!--    <div class="text-center">-->
      <%#= link_to "Zmeniť údaje", edit_player_match_path(match) %>
<!--    </div>-->
  <%# end %>

  <div class="match-info">
    <% if match.play_date.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Termín</div>
        <div>
          <%= app_date(match.date) %>
          <%= match.play_time if match.play_time.present? %>
        </div>
      </div>
    <% end %>

    <% if match.place_id.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Miesto</div>
        <div><%= match.place.name %></div>
      </div>
    <% end %>

    <% if match.notes.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Poznámky</div>
        <div><%= match.notes %></div>
      </div>
    <% end %>
  </div>

  <hr>
  <%= turbo_frame_tag "match_#{match.id}_comments" do %>
    <div id="comments">
      <p class="u-fs-dominant">Reakcie</p>
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md">
          <% if player_signed_in? %>
            <%= form_with model: [:player, match, @comment] do |f| %>
              <%= f.text_area :content, class: "form-control", placeholder: "Pridaj komentár ..." %>
              <%= error_for(:content, @comment) %>
              <div class="form-text">
                Komentáre neslúžia na to, aby si niekoho dourážal/a :))
              </div>
              <div class="text-end">
                <%= f.submit "Zverejniť", class: "btn btn-success" %>
              </div>
            <% end %>
          <% else %>
            <p>
              <small>
                Ak chceš pridať komentár, musíš sa
                <%= link_to "prihlásiť", new_player_session_path, target: :_top %>
                .
              </small>
            </p>
          <% end %>
        </div>
        <div class="col-md-2"></div>
      </div>

      <%= turbo_stream_from "Match_#{match.id}_comments" %>
      <div id="Match_#<%= match.id %>_comments">
        <% match.comments.order(created_at: :desc).includes(:player, :motive).each do |c| %>
          <%= render partial: "player/comments/comment", locals: { comment: c } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
