<%= render partial: "matches/header", locals: { match: match } %>

<div class="page__content">
  <div class="page-controls">
    <div class="page-controls__breadcrumbs">
      <%= link_to "Domov", root_path, target: :_top %>
      /
      <%= link_to "Zápasy", matches_path, target: :_top %>
    </div>
    <% if current_player %>
      <div class="page-controls__buttons">
        <% if match.requested? %>
          <div>
            <% if MatchPolicy.new(current_player, match).accept? %>
              <%= link_to "Odmietnuť",
                          reject_player_match_path(match),
                          method: :post,
                          class: "btn btn-warning",
                          data: { confirm: "Chceš naozaj odmietnuť túto výzvu?" } %>
              <%= link_to "Prijať",
                          accept_player_match_path(match),
                          method: :post,
                          class: "btn btn-success" %>
            <% elsif MatchPolicy.new(current_player, match).destroy? %>
              <%= link_to "Zmazať",
                          player_match_path(match),
                          method: :delete,
                          class: "btn btn-warning",
                          data: { confirm: "Chceš naozaj zmazať túto výzvu?", turbo: false } %>
            <% end %>
          </div>
        <% else %>
          <div>
            <% if MatchPolicy.new(current_player, match).cancel? %>
              <%= link_to "Zrušiť", cancel_player_match_path(match),
                          method: :post,
                          data: { confirm: "Chceš naozaj zrušiť tento zápas?" },
                          class: "btn btn-outline-danger" %>
            <% end %>
            <% if MatchPolicy.new(current_player, match).edit? %>
              <%= link_to "Upraviť", edit_player_match_path(match),
                          class: "btn btn-warning" %>
            <% end %>
            <% if MatchPolicy.new(current_player, match).finish? %>
              <%= link_to "Výsledok", finish_init_player_match_path(match),
                          class: "btn btn-danger" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr>

  <% if match.reviewed? %>
    <p class="u-fs-giant py-4 text-center"><%= match.result %></p>
    <p class="text-center">
      <%= match.side_name(match.winner_side) %>
      zvíťazil<small>/a</small> v tomto zápase.
    </p>
    <% if match.retired? %>
      <p class="text-center">
        <%= match.looser_name %> zápas skrečoval<small>/a</small>.
      </p>
    <% end %>
  <% elsif match.requested? %>
    <p class="text-center">
      Na túto výzvu <%= match.side_name(2) %> zatiaľ nereagoval<small>/a</small>.
    </p>
  <% elsif match.canceled_at %>
    <p class="text-center text-danger">
      Tento zápas bol zrušený <%= app_date match.canceled_at %>.
    </p>
  <% elsif match.accepted_at %>
    <p class="text-center">
      <%= match.side_name(2) %> akceptoval<small>/a</small> výzvu <%= app_date match.accepted_at %>.
    </p>
  <% elsif match.rejected_at %>
    <p class="text-center">
      <%= match.side_name(2) %> odmietol<small>/la</small> túto výzvu <%= app_date match.rejected_at %>.
    </p>
  <% end %>

  <div class="match-info">
    <% if match.play_date.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Termín</div>
        <div>
          <%= app_date(match.date, prefix: true) %>
          <%= match.play_time if match.play_time.present? %>
        </div>
      </div>
    <% end %>

    <% if match.place_id.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Miesto</div>
        <div><%= match.place.name %></div>
      </div>
    <% end %>

    <% if match.notes.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Poznámky</div>
        <div><%= match.notes %></div>
      </div>
    <% end %>
  </div>

  <%= content_tag :div, id: "match_#{match.id}_predictions" do %>
    <%= render partial: "matches/predictions",
               locals: { match: match, current_player: current_player } %>
  <% end %>

  <hr>
  <div id="comments" data-controller="comments">
    <%= turbo_frame_tag "tf_match_#{match.id}_comments" do %>
      <p class="u-fs-dominant">Reakcie</p>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md">
          <div class="py-1">
            <%= render partial: "shared/reactions", locals: { reactionable: match, current_player: current_player } %>
          </div>
          <% if match.reactions_count > 0 %>
            <p class="fst-italic"><small>Pozitívne reakcie od: <%= match.reacted_player_names %></small></p>
          <% end %>
          <% if current_player.present? %>
            <%= render partial: "player/comments/form",
                       locals: { match: match, comment: @comment || Comment.new, current_player: current_player } %>
          <% else %>
            <p>
              <small>
                Ak chceš reagovať aj ty, musíš sa
                <%= link_to "prihlásiť", new_player_session_path, target: :_top %>
                .
              </small>
            </p>
          <% end %>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div id="Match_#<%= match.id %>_comments">
        <% match.comments.order(created_at: :desc).includes(:player, :motive).each do |c| %>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md">
              <%= render partial: "player/comments/comment", locals: { comment: c, current_player: current_player } %>
            </div>
            <div class="col-md-2"></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
