<%= render partial: "matches/header", locals: { match: match } %>

<section id="match-buttons" class="p-2 text-right md:text-left">
  <% if match.reviewed? %>
    <p class="text-3xl md:text-5xl text-center"><%= match.result %></p>
  <% elsif match.requested? %>
    <% if MatchPolicy.new(current_player, match).accept? %>
      <%= button_to "Odmietnuť",
                    reject_player_match_path(match),
                    class: "button",
                    data: { confirm: "Chceš naozaj odmietnuť túto výzvu?" } %>
      <%= button_to "Prijať",
                    accept_player_match_path(match),
                    class: "button button-blue" %>
    <% elsif MatchPolicy.new(current_player, match).destroy? %>
      <%= link_to "Zmazať",
                  player_match_path(match),
                  method: :delete,
                  class: "button button-red",
                  data: { confirm: "Chceš naozaj zmazať túto výzvu?", turbo: false } %>
    <% end %>
  <% else %>
    <% if MatchPolicy.new(current_player, match).finish? %>
      <%= link_to "Výsledok", finish_init_player_match_path(match),
                  class: "button button-red" %>
    <% end %>
  <% end %>
</section>

<p id="match-info" class="text-center p-2">
  <% if match.reviewed? %>
    <% if match.retired? %>
      <%= match.looser %> zápas skrečoval<span class="text-sm">/a</span>.
    <% end %>
  <% else %>
    <% if match.requested? %>
      Na túto výzvu <%= match.side(2) %> zatiaľ nereagoval<span class="text-sm">/a</span>.
    <% elsif match.accepted_at %>
      <%= match.side(2) %> akceptoval<span class="text-sm">/a</span> výzvu <%= app_date_span match.accepted_at %>
    <% elsif match.rejected_at %>
      <%= match.side(2) %> odmietol<span class="text-sm">/la</span> túto výzvu <%= app_date_span match.rejected_at %>
    <% end %>
  <% end %>
</p>

<div class="p-2">
  <% if MatchPolicy.new(current_player, match).update? %>
    <div class="text-center pb-2">
      <%= link_to "Zmeniť údaje", edit_player_match_path(match), class: "underline" %>
    </div>
  <% end %>

  <% if match.play_date.present? %>
    <div class="py-4">
      <p class="font-black text-2xl">Termín</p>
      <p>
        <%= app_date(match.date) %>
        <%= match.play_time if match.play_time.present? %>
      </p>
    </div>
  <% end %>

  <% if match.place_id.present? %>
    <div class="py-4">
      <p class="font-black text-2xl">Miesto</p>
      <p>
        <%= match.place.name %>
      </p>
    </div>
  <% end %>

  <% if match.notes.present? %>
    <div class="py-4">
      <p class="font-black text-2xl">Poznámky</p>
      <p><%= match.notes %></p>
    </div>
  <% end %>
</div>
