<%= render partial: "matches/header", locals: { match: match } %>

<section class="context-buttons">
  <div>
    <%= link_to "Domov", root_path, class: "underline", target: :_top %>
    /
    <%= link_to "Zápasy", matches_path, class: "underline", target: :_top %>
  </div>
  
  <% if match.requested? %>
    <div>
      <% if MatchPolicy.new(current_player, match).accept? %>
        <%= button_to "Odmietnuť",
                      reject_player_match_path(match),
                      class: "button",
                      data: { confirm: "Chceš naozaj odmietnuť túto výzvu?" } %>
        <%= button_to "Prijať",
                      accept_player_match_path(match),
                      class: "button button-blue" %>
      <% elsif MatchPolicy.new(current_player, match).destroy? %>
        <%= link_to "Zmazať",
                    player_match_path(match),
                    method: :delete,
                    class: "button button-red",
                    data: { confirm: "Chceš naozaj zmazať túto výzvu?", turbo: false } %>
      <% end %>
    <% else %>
      <% if MatchPolicy.new(current_player, match).finish? %>
        <%= link_to "Výsledok", finish_init_player_match_path(match),
                    class: "button button-red" %>
      <% end %>
    <% end %>
  </div>
</section>


<section class="page-content">
  <% if match.reviewed? %>
    <p class="text-3xl md:text-5xl text-center"><%= match.result %></p>
    <% if match.retired? %>
      <p class="text-center">
        <%= match.looser %> zápas skrečoval<span class="text-sm">/a</span>.
      </p>
    <% end %>
  <% elsif match.requested? %>
    <p class="text-center">
      Na túto výzvu <%= match.side(2) %> zatiaľ nereagoval<span class="text-sm">/a</span>.
    </p>
  <% elsif match.accepted_at %>
    <p class="text-center">
      <%= match.side(2) %> akceptoval<span class="text-sm">/a</span> výzvu <%= app_date_span match.accepted_at %>
    </p>
  <% elsif match.rejected_at %>
    <p class="text-center">
      <%= match.side(2) %> odmietol<span class="text-sm">/la</span> túto výzvu <%= app_date_span match.rejected_at %>
    </p>
  <% end %>


  <% if MatchPolicy.new(current_player, match).update? %>
    <div class="text-center pb-2">
      <%= link_to "Zmeniť údaje", edit_player_match_path(match), class: "underline" %>
    </div>
  <% end %>

  <% if match.play_date.present? %>
    <div class="py-4">
      <p class="font-black text-2xl">Termín</p>
      <p>
        <%= app_date(match.date) %>
        <%= match.play_time if match.play_time.present? %>
      </p>
    </div>
  <% end %>

  <% if match.place_id.present? %>
    <div class="py-4">
      <p class="font-black text-2xl">Miesto</p>
      <p>
        <%= match.place.name %>
      </p>
    </div>
  <% end %>

  <% if match.notes.present? %>
    <div class="py-4">
      <p class="font-black text-2xl">Poznámky</p>
      <p><%= match.notes %></p>
    </div>
  <% end %>
</section>
