<% if player_signed_in? && @pending_matches.any? %>
  <section class="base-salmon p-8">
    <h2 class="text-5xl p-1 primary-color">Tvoje ďalšie zápasy.</h2>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th class="">Vyzývateľ</th>
          <th class="">Vyzvaný</th>
          <th class="">Info</th>
          <th class=""></th>
        </tr>
        </thead>
        <tbody>
        <% @pending_matches.each.with_index do |match, idx| %>
          <tr>
            <td><%= match.side 1 %></td>
            <td><%= match.side 2 %></td>
            <td class="<%= 'border-white border-solid border-t-4' if idx > 0 %>">
              <% if match.play_date.present? %>
                <%= link_to_match(match) do %>
                  <%= "#{app_date_span(match.date)}<br>#{match.play_time}".html_safe %>
                <% end %>
              <% else %>
                <%= link_to_match(match) %>
              <% end %>
            </td>
            <td><%= match.place&.name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>

<section class="base-yellow min-h-screen p-8">
  <% if @matches.any? %>
    <h2 class="text-6xl p-1 primary-color text-right">Všetky zápasy sezóny.</h2>
    <div class="table-container default-color">
      <table>
        <tbody>
        <% @matches.each.with_index do |match, idx| %>
          <tr>
            <td class="<%= 'border-white border-solid border-t-4' if idx > 0 %>">
              <%= match.winner || match.side(1) %>
            </td>
            <td class="<%= 'border-white border-solid border-t-4' if idx > 0 %>">
              <%= match.looser || match.side(2) %>
            </td>
            <td class="whitespace-nowrap">
              <% if match.closed? %>
                <%= link_to_match match do %>
                  <%= match.result %>
                <% end %>
              <% else %>
                <%= link_to_match match %>
              <% end %>
            </td>
            <td>
              <%= app_date_span match.date if match.date %>
              <% unless match.finished_at %>
                <%= match.play_time if match.play_date && match.play_time %><br>
                <%= match.place&.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="p-8 text-center default-color">Žiadne zápasy sa ešte neodohrali.</p>
    <p class="p-2 text-center">
      <%= link_to "Zavolaj niekoho hrať!", rankings_path, class: "button button-red" %>
    </p>
  <% end %>
</section>