<%= turbo_stream_from "matches" %>
<div id="matches_index_reload_notice"></div>

<% if selected_season.present? && player_signed_in? && @pending_matches.any? %>
  <section class="base-salmon p-8">
    <h2 class="page-heading primary-color">Tvoje ďalšie zápasy.</h2>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th class="">Vyzývateľ</th>
          <th class="">Vyzvaný</th>
          <th class="">Info</th>
        </tr>
        </thead>
        <tbody>
        <% @pending_matches.each.with_index do |match, idx| %>
          <tr>
            <td>
              <div class="fat-row">
                <%= match.side 1 %>
              </div>
            </td>
            <td>
              <div class="fat-row">
                <%= match.side 2 %>
              </div>
            </td>
            <td class="<%= 'border-white border-solid border-t-4' if idx > 0 %>">
              <div class="fat-row">
                <% if match.play_date.present? %>
                  <%= link_to_match(match) do %>
                    <%= "#{app_date_span(match.date)}<br>#{match.play_time}<br>#{match.place&.name}".html_safe %>
                  <% end %>
                <% else %>
                  <%= link_to_match(match) %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>

<section class="base-yellow min-h-screen p-8">
  <h2 class="page-heading primary-color text-right">Všetky zápasy sezóny.</h2>
  <% if selected_season.present? %>
    <% if @matches.any? %>
      <div class="table-container default-color">
        <table>
          <tbody>
          <% last_match_reviewed = false %>
          <% @matches.each.with_index do |match, idx| %>
            <% full_border = !last_match_reviewed && match.reviewed? %>
            <% last_match_reviewed = true if match.reviewed? %>
            <tr>
              <td class="<%= 'border-white border-solid border-t-4' if idx > 0 && full_border %>">
                <div class="fat-row">
                  <%= match.winner || match.side(1) %>
                </div>
              </td>
              <td class="<%= 'border-white border-solid border-t-4' if idx > 0 && full_border %>">
                <div class="fat-row">
                  <%= match.looser || match.side(2) %>
                </div>
              </td>
              <td class="<%= 'border-white border-solid border-t-4' if idx > 0 %>">
                <div class="fat-row">
                  <% if match.reviewed? %>
                    <%= link_to_match match do %>
                      <b><%= match.result %></b>
                      <% if match.date %>
                        <br><%= app_date match.date %>
                      <% end %>
                    <% end %>

                  <% elsif match.date %>
                    <%= link_to_match match do %>
                      <%= app_date match.date %>
                      <% if match.place %>
                        <br><%= match.place.name %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to_match match %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="p-8 text-center default-color">Žiadne zápasy sa ešte neodohrali.</p>
      <p class="p-2 text-center">
        <%= link_to "Zavolaj niekoho hrať!", rankings_path, class: "button button-red" %>
      </p>
    <% end %>
  <% else %>
    <p class="p-8 text-center default-color">Žiadne nie sú, pretože nie je sezóna. Čakáme kým začne.</p>
  <% end %>
</section>