<%= turbo_stream_from "matches" %>
<div id="matches_index_reload_notice"></div>

<% if selected_season.present? && player_signed_in? && @pending_matches.any? %>
  <section class="base-salmon">
    <div class="page__content">
      <h3 class="base-heading accent-color">Tvoje ďalšie zápasy.</h3>

      <table class="centered-table">
        <thead>
        <tr class="centered-table__heading-row">
          <th class="text-center">Vyzývateľ</th>
          <th class="text-center">Vyzvaný</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @pending_matches.each do |match| %>
          <tr>
            <td class="text-center"><%= break_whitespace(match.side 1) %></td>
            <td class="text-center"><%= break_whitespace(match.side 2) %></td>
            <td class="text-center">
              <% if match.date.present? %>
                <%= link_to match_path(match), class: "default-color" do %>
                  <%= app_date(match.date) %>
                  <% if match.play_time.present? %>
                    <br><%= match.play_time %>
                  <% end %>
                  <% if match.place %>
                    <br><%= match.place.name %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to "(plánuje sa)", match_path(match), class: "default-color" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>

<section class="base-yellow">
  <div class="page__content">
    <h3 class="text-end base-heading accent-color">Všetky zápasy sezóny.</h3>

    <% if selected_season.present? %>
      <% if @matches.any? %>
        <table class="centered-table">
          <tbody>
          <% @matches.each do |match| %>
            <tr class="text-center">
              <% if match.reviewed? %>
                <td><%= break_whitespace(match.winner) %></td>
                <td class="centered-table__increased centered-table__bordered">
                  <%= link_to break_whitespace(match.result.gsub(", ", " ")), match_path(match),
                              class: "default-color" %>
                </td>
                <td><%= break_whitespace(match.looser) %></td>
                <td><%= app_date(match.date) if match.date %></td>
              <% else %>
                <td><%= break_whitespace(match.side 1) %></td>
                <td class="centered-table__bordered">
                  <% if match.date.present? %>
                    <%= link_to match_path(match), class: "default-color" do %>
                      <%= app_date(match.date) %>
                      <% if match.play_time.present? %>
                        <br><%= match.play_time %>
                      <% end %>
                      <% if match.place %>
                        <br><%= match.place.name %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to "(plánuje sa)", match_path(match), class: "default-color" %>
                  <% end %>
                </td>
                <td><%= break_whitespace(match.side 2) %></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="py-8 text-center">Nikto neplánuje hrať zápas.</p>
        <p class="py-2 text-center">
          <%= link_to "Zavolaj niekoho hrať!", rankings_path, class: "btn btn-success btn-lg" %>
        </p>
      <% end %>
    <% else %>
      <p class="py-8 text-center default-color">Žiadne nie sú, pretože nie je sezóna. Čakáme kým začne.</p>
    <% end %>
  </div>
</section>
