<section id="match-header" class="<%= match_color_base(@match) %>">
  <h3 class="pt-20 text-4xl md:text-6xl primary-color text-center">
    <%= @match.side(1) %>
  </h3>
  <p class="text-2xl md:text-4xl text-center primary-color">vs</p>
  <h3 class="pb-20 text-4xl md:text-6xl primary-color text-center">
    <%= @match.side(2) %>
  </h3>
  <% if @match.date %>
    <div id="header-data">
      <%= render "matches/header_data" %>
    </div>
  <% end %>
</section>

<section id="match-buttons" class="p-2">
  <% if @match.closed? %>
    <p class="text-3xl md:text-5xl text-center"><%= @match.result %></p>
  <% elsif @match.requested? %>
    <% if policy(@match).accept? %>
      <div class="flex justify-end md:justify-start">
        <%= link_to "Odmietnuť",
                    reject_player_match_path(@match),
                    class: "button",
                    data: { confirm: "Chceš naozaj odmietnuť túto výzvu?" } %>
        <%= link_to "Prijať",
                    accept_player_match_path(@match),
                    class: "button button-blue" %>
      </div>
    <% elsif policy(@match).destroy? %>
      <div class="flex justify-end md:justify-start">
        <%= link_to "Zmazať",
                    player_match_path(@match),
                    method: :delete,
                    class: "button button-red",
                    data: { confirm: "Chceš naozaj zmazať túto výzvu?" } %>
      </div>
    <% end %>
  <% else %>
    <% if policy(@match).close? %>
      <%= link_to "Výsledok", "#", id: "match-close-button", class: "button button-red" %>

      <%= modal_window "match-close-window", trigger_id: "match-close-button" do %>
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <!-- Heroicon name: outline/exclamation -->
              <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-2xl" id="modal-title">
                Výsledok zápasu
              </h3>
              <%= form_with url: close_player_matches_path, data: { turbo: false }, class: "inline-block" do |f| %>
                <%= f.hidden_field :player_id, value: @player.id %>
                <%= f.submit "Potvrdiť!",
                             class: "button button-red disabled:opacity-50",
                             disabled: !match_request_possible(
                               current_player,
                               requested_player: @player,
                               season: Season.sorted.first) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 sm:px-6 flex justify-center md:justify-end">
          <button type="button" class="modal-cancel button">
            Zrušiť
          </button>

        </div>
      <% end %>
    <% end %>
  <% end %>
</section>

<p id="match-info" class="text-center p-2">
  <% if @match.closed? %>
    <% if @match.retired? %>
      <%= @match.looser %> zápas skrečoval<span class="text-sm">/a</span>.
    <% end %>
  <% else %>
    <% if @match.requested? %>
      Na túto výzvu <%= @match.side(2) %> zatiaľ nereagoval<span class="text-sm">/a</span>.
    <% elsif @match.accepted_at %>
      <%= @match.side(2) %> akceptoval<span class="text-sm">/a</span> výzvu <%= app_date_span @match.accepted_at %>
    <% elsif @match.rejected_at %>
      <%= @match.side(2) %> odmietol<span class="text-sm">/la</span> túto výzvu <%= app_date_span @match.rejected_at %>
    <% end %>
  <% end %>
</p>

<div class="p-2">
  <%= turbo_frame_tag dom_id(@match) do %>
    <%= render "matches/main_data" %>
  <% end %>
</div>
