<%#= turbo_stream_from "dashboard_player" %>

Reloaded at <%= Time.now.to_s %>
<% if @managed_season.present? %>

  <% if @managed_season.ended_at.blank? %>
    <h2 class="base-heading text-center">Prebieha sezóna</h2>
  <% else %>
    <h2 class="base-heading text-center">Posledná sezóna</h2>
  <% end %>
  <h2 class="base-heading text-center"><%= @managed_season.name %></h2>

  <div class="page__content">
    <% if @players.any? %>
      <h2 class="text-3xl text-center py-4 text-green-700">
        Registrovaní hráči
      </h2>

      <table class="centered-table">
        <thead>
        <tr class="centered-table__heading-row">
          <th>Meno</th>
          <th>Sezóna <%= @managed_season.name %></th>
          <th>Prístup</th>
        </tr>
        </thead>
        <tbody>
        <% @players.each do |player| %>
          <tr id="dashboard_player_<%= player.id %>">
            <td>
              <%= player.name %>
            </td>
            <td>
              <%= turbo_frame_tag "player_enrollment_#{player.id}" do %>
                <% if player.enrollments.find { |e| (e.season_id == @managed_season.id) && e.canceled_at.blank? } %>
                  <%= form_with url: manager_toggle_enrollment_path(player_id: player.id) do |f| %>
                    <%= f.submit "prihlásený", class: "underline text-success" %>
                  <% end %>
                <% else %>
                  <%= form_with url: manager_toggle_enrollment_path(player_id: player.id) do |f| %>
                    <%= f.submit "odhlásený", class: "underline text-danger" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= turbo_frame_tag "player_access_#{player.id}" do %>
                <% if player.access_denied_since.present? %>
                  <%= form_with url: toggle_access_manager_player_path(player) do |f| %>
                    <%= f.submit "blokovaný", class: "underline text-danger" %>
                  <% end %>
                <% else %>
                  <%= form_with url: toggle_access_manager_player_path(player) do |f| %>
                    <%= f.submit "povolený", class: "underline text-success" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-3xl text-center py-4 text-red-400">
        Žiadni hráči nie sú registrovaní.
      </p>
    <% end %>
  </div>


  <div>
    <h2 class="text-3xl text-center py-4 text-green-700">
      Manažment sezóny
      <%= @managed_season.name %>.
    </h2>

    <ul>
      <li>
        Sezóna bola vytvorená
        <span class="text-green-500 font-extrabold">
      <%= app_date @managed_season.created_at %>
    </span>
      </li>
      <li>
        Prihlásení hráči:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.players.count %>
    </span>
      </li>
      <li>
        Odohraté zápasy:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.matches.published.reviewed.count %>
    </span>
      </li>
      <li>
        Turnaje:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.tournaments.published.count %>
    </span>
      </li>
      <% if @managed_season.ended_at.present? %>
        <li>
          Sezóna skončila
          <%= app_date @managed_season.ended_at %>
        </li>
      <% else %>
        <li>
          Táto sezóna trvá už
          <span class="text-green-500 font-extrabold">
        <%= (Date.today - @managed_season.created_at.to_date).to_i + 1 %>
      </span>
          dní.
        </li>
      <% end %>

      <hr class="my-4">

      <li>
        Počet hráčov do PLAY-OFF:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.play_off_size %>
    </span>
      </li>
      <li>
        Body za výhru 2:0 v 2hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_single_20 %>
    </span>
      </li>
      <li>
        Body za výhru 2:1 v 2hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_single_21 %>
    </span>
      </li>
      <li>
        Body za prehru 0:2 v 2hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_single_02 %>
    </span>
      </li>
      <li>
        Body za prehru 1:2 v 2hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_single_12 %>
    </span>
      </li>
      <li>
        Body za výhru 2:0 vo 4hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_double_20 %>
    </span>
      </li>
      <li>
        Body za výhru 2:1 vo 4hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_double_21 %>
    </span>
      </li>
      <li>
        Body za prehru 0:2 vo 4hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_double_02 %>
    </span>
      </li>
      <li>
        Body za prehru 1:2 vo 4hre:
        <span class="text-green-500 font-extrabold">
      <%= @managed_season.points_double_12 %>
    </span>
      </li>
    </ul>
    <div class="text-center py-2">
      <%= link_to "Zmeniť údaje",
                  edit_manager_season_path(@managed_season),
                  class: "underline" %>
    </div>
  </div>
<% else %>
  <h2 class="text-center">Čaká sa na prvú sezónu.</h2>
  <p class="text-center">
    <%= link_to "Začať sezónu", new_manager_season_path, class: "btn btn-large btn-success" %>
  </p>
<% end %>
