<div class="mb-4">
  <%= f.label :name, "* Meno a priezvisko", class: "block mb-2" %>
  <%= f.text_field :name, autocomplete: "off",
                   class: "shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" %>
  <%= error_for(:name, resource) %>
</div>
<div class="mb-4">
  <%= f.label :phone_nr, "Telefónne číslo", class: "block mb-2" %>
  <%= f.text_field :phone_nr, autocomplete: "off", placeholder: "0901 123 456",
                   class: "shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" %>
  <%= error_for(:phone_nr, resource) %>
</div>
<div class="mb-4">
  <%= f.label :birth_year, "Rok narodenia", class: "block mb-2" %>
  <%= f.select :birth_year,
               options_for_select(((Date.today.year - 100)..(Date.today.year - 9)).to_a.reverse, resource.birth_year),
               { include_blank: "Nepoviem" },
               class: "shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" %>
</div>
