<!DOCTYPE html>
<html lang="sk">
  <head>
    <title>TOtal - Topoľčianska tenisová amatérska liga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%#= yield :turbo_visit_control if :turbo_visit_control %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body class="page" data-controller="application">
    <%= render "shared/navbar" %>
    <% if current_player.present? && latest_open_season.present? &&
      !latest_open_season.players.merge(Enrollment.active).include?(current_player) %>
      <div class="top-notice">
        Máš registráciu, ale nie si prihlásený<small>/á</small> do súčasnej sezóny.
        Kontaktuj - <%= link_to 'Ľuboš Hollan', 'tel:0908129978', class: "u-white" %>
        alebo
        <%= link_to 'Tomáš Radič', 'tel:0905289248', class: "u-white" %>.
      </div>

  <% end %>
    <%= render "shared/flash_message" %>
    <div class="page__wrapper">
      <div class="page__main">
        <%= yield %>
      </div>
      <div class="page__footer"><%= render "shared/footer" %></div>
    </div>
    <span data-application-target="loadTime" hidden></span>
  </body>
</html>
