<!DOCTYPE html>
<html lang="sk">
  <head>
    <title>TOtal - Topoľčianska tenisová amatérska liga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%#= yield :turbo_visit_control if :turbo_visit_control %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body class="page" data-controller="application">
    <%= render "shared/navbar" %>
    <%= render "shared/flash_message" %>
    <div class="page__wrapper">
      <div class="page__main"><%= yield %></div>
      <div class="page__footer"><%= render "shared/footer" %></div>
    </div>
    <span data-application-target="loadTime" hidden></span>
  </body>
</html>
